* {
  margin: 0px;
  padding: 0px; 
  font-family: "Poppins", sans-serif; 
  box-sizing: border-box;
  border: 0;
}

header a {
    color: #DAA520;
    text-decoration: none;
    cursor: pointer;
}

header a:hover {
    color: #FFD700;
}

#logo {
    font-size: 2.2rem;
    font-weight: 700;
    text-shadow:1px 1px 5px #DAA520;
}

#header {
    box-sizing: border-box;
    height: 70px;
    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: 	#363636;
}

#menu {
    display: flex;
    list-style: none;
    gap: .5rem;
    font-weight: 600;
    font-size: 1.2rem;
}

#menu a {
    display: block;
    padding:.5rem;
}

#btn-mobile {
    display: none;
}
/* foto-TOPO */
#gridtopo img {
  object-fit: cover;
  width: 100%;
  height: 250px;
}

/* Foto.Limpa-Suja */
#gridfotos {
  display: flex;
  padding: 3rem;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin-left: 2rem;
}
#gridfoto1suja img {
  max-width: 320px;
  
}
#gridfoto2limpa img {
  max-width: 320px; 
}
#gridfoto1suja h3 {
  font-weight: 800;
  text-transform:uppercase;
  font-size: 1.8rem;
  padding: 1rem;
  width: 350px;
  color: #DAA520;
}
#gridfoto2limpa h3 {
  font-weight: 800;
  text-transform:uppercase;
  font-size: 1.8rem;
  color: #DAA520;
  padding: 1rem;
  width: 350px;
}

#gridfoto1suja p {
  width: 300px;
}
#gridfoto2limpa p {
  width: 300px;
}

/*Sobre.Serviço-Prestado.Contrato */
#flex-board{
  background: #363636;
  padding: 20px;
  display: flex;
  flex-direction:column;
  justify-content: center;
  align-items: center;
}
#grid1 {
 padding: 1rem;
}
#grid2 {
  padding: 1rem;
 }
 #grid3 {
  padding: 1rem;
 }
#grid1 h3{
  font-size: 1.8rem;
  color: #DAA520;
  text-align: left;
  display: block;
}
#grid2 h3 {
  font-size: 1.8rem;
  color: #DAA520;
  text-align: center;
}
#grid3 h3 {
  font-size: 1.8rem;
  color: #DAA520;
  text-align: right;
}
#grid1 span {
  font-size: 1.2rem;
  color: #e7e7e7;
}
#grid2 span {
  font-size: 1.2rem;
  color: #e7e7e7;
}
#grid3 span {
  font-size: 1.2rem;
  color: #e7e7e7;
}



@media (max-width: 700px) {
   
    #menu {
        display: block;
        position: absolute;
        width: 100%;
        top: 70px;
        right: 0px;
        background: #e7e7e7;
        transition: 0.6s;
        z-index: 1000;
        height: 0px;
        visibility: hidden;
        overflow-y: hidden;
      }
      
      #nav.active #menu {
        height: calc(100vh - 70px);
        visibility: visible;
        overflow-y: auto;
      }
     
      #menu a {
        padding: 1rem 0;
        margin: 0 1rem;
        border-bottom: 2px solid rgba(0, 0, 0, 0.05);
      }
      
      #btn-mobile {
          color: transparent;
      }

      #btn-mobile {
        display: flex;
        padding: 0.5rem 1rem;
        font-size: 1rem;
        border: none;
        background: none;
        cursor: pointer;
        gap: 0.5rem;
      }
    
      #hamburguer {
        color: #DAA520;
        display: block;
        border-top: 2px solid;
        width: 20px;
      }
     
      #hamburguer::after, #hamburguer::before {
        content: '';
        display: block;
        width: 20px;
        height: 2px;
        background: currentColor;
        margin-top: 5px;
        transition: .3s;
        position: relative;
      }
     
      #nav.active #hamburguer{
          border-top-color: transparent;
        
      }

      #nav.active #hamburguer::before {
        transform: rotate(135deg);

      }

      #nav.active #hamburguer::after {
        transform: rotate(-135deg);
        top: -7px;
      } 

      div.como-limpar1 {
        padding-left: 25%;
        
       }
       div.como-limpar2 {
        padding-top: 90rem;
        padding-right: 5%;
       }
}

@media (max-width: 500px) {
    
    #logo {
      font-size: 1.5rem;
    }
    
    #info h3 {
      font-size: 1rem;
    }
    #info span {
      font-size: 0.7rem;
    }

}